---
title: Home
changefreq: daily
priority: 1
excerpt: "GL Networks Inside provides technical background, news and stories related to the work of GL Networks - networked consulting services and IT solutions since 1992, http://www.glnetworks.de"
---

- sorted_articles.first(@site.config[:articles_on_homepage]).each do |article|
  = render 'articles/frontpage_article', :article => article

- if articles.size > @site.config[:articles_on_homepage]
  %a.archive(href="/archive/") Looking for older articles? Visit the archive.
