!!! 5

%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= "GL Networks" << (@item[:title].blank? ? '' : "- #{@item[:title]}")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="screen, projection")
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
    :javascript
      google.load("jquery", "1.4.2");
      google.load("feeds", "1");
    
  %body
    #main
      = yield
    #sidebar
      %h2 Documentation
      %ul
        %li
          %a(href="http://nanoc.stoneship.org/docs/") Documentation
        %li
          %a(href="http://nanoc.stoneship.org/docs/3-getting-started/") Getting Started
