body
  :background $background-color
  :color $text-color

header
  :overflow visible
  :height 80px
  :padding
    :top 20px
  #navigation
    :height 41px
    :overflow visible
    .home
      :margin-left -71px
      :display block
      :float left
      :line-height 41px
      +replace-text-with-dimensions("glnetworks-inside-logo.png")
      :background-position -8px 50%
    nav.main
      :float right
      :padding-top 10px
      a
        :margin-left 7px
  .search
    :padding-top 11px

#content
  article
    h1
      :margin-bottom 0
    .metadata
      :margin-bottom 24px
    :margin-bottom 66px

  .article-headline
    :margin-bottom 24px
    h1, h2
      :margin-bottom 0
    h1
      :font-size 20px

#sidebar
  .tagcloud
    :margin-top 4px
    :margin-bottom 24px
  .toc
    :margin-top 24px
    +no-bullets
    h1
      :font-size 20px
      :margin-bottom 24px
    h2
      :font-size 16px
      :margin-top 24px
      :margin-bottom 0

    .comment-count
      :display block

footer
  :color $footer-text-color
  :padding
    :top 30px
    :bottom 5px

  p
    :margin 0

.ellipsis
  +ellipsis

strong
  :font-weight bold
