@import google-search-overrides

body
  :background $background-color
  :color $text-color

#container
  :overflow visible
  :background #fff

header
  :padding
    :top 20px
  :position relative
  :overflow-x visible
  :height 80px
  .home
    :float left
    :margin-left -80px
    +replace-text-with-dimensions("glnetworks-inside-logo.png")
  nav
    :float right
    :padding
      :top 10px
      :right 10px
  .search
    :float right
    :padding-top 7px
    :width 350px

#heading
  h1, h2, h3
    :padding-top 3px
    :font-size 1.8em
    :font-weight bold
    :color darken($heading-color, 25%)

footer
  :color $footer-text-color
  :padding
    :top 30px
    :bottom 5px
  
  p
    :margin 0

.ellipsis
  +ellipsis

strong
  :font-weight bold
