body
  :background $background-color
  :color $text-color

header
  :padding
    :top 20px
  :position relative
  :height 80px
  .home
    :float left
    +replace-text-with-dimensions("glnetworks-inside-logo.png")
  nav.main
    :float right
    :padding
      :top 10px
      :right 10px
  .search
    :float right
    :padding-top 7px
    :width 350px

#heading
  h1, h2, h3
    :padding-top 3px
    :font-size 1.5em
    :font-weight bold
    :color darken($heading-color, 25%)

footer
  :color $footer-text-color
  :padding
    :top 30px
    :bottom 5px

  p
    :margin 0

.ellipsis
  +ellipsis

strong
  :font-weight bold
